<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/universe_3.png" type="image/png" />
    <link rel="stylesheet" href="styles/story.css">
    <title> - História -</title>
</head>
    <body>
        <header>
            <div class="header">
            <a href="/"><img id="logo" src="assets/Frame_3.png" alt="OPS"></a>
            <span>História | Universo Automobilístico</span>
            <button id="home"><a href="/">Home</a></button>
            </div>

        <div id="hitoria">
            <p>
                A história da Honda Em 17 de novembro de 1906, nascia na aldeia de Komyo, na cidade de Hamamatsu, no Japão, o filho mais velho de um ferreiro. Seu nome, Soichiro Honda.
                 Era uma criança curiosa, que desde muito cedo ficava observando os motores,
                  encantado com seus barulhos, cheiros e segredos!
            </p>
        </div>
            
        </header>
    
</body>
</html>