<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Universo Automobilistico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style_car.css">
    <link rel="shortcut icon" href="assets/universe_3.png" type="image/png" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
        <a href="hystory.html"><img id="logo" src="assets/Frame_3.png" alt="OPS"></a>
        <span id="title"><h1 id="usuario"></h1>Bem vindo(a) ao Universo Automobilístico</span>
            <button id="ident" onclick="Identification()">Identificaçao Pessoal</button>
            
            <div id="menu">
                <div class="options">
                    <button id="clic"><img src="assets/menu.png" alt="menu"></button>
                </div>

                
            </div>

        </div>
            
    </header>

        <div class="vitrine">
            <button id="left"><img src="assets/left_arrow.png" alt="left">

            </button>
            <img id="carro" src="assets/vitrine-1.png" alt="nada aqui">
            <img id="prox_car" src="assets/citroen.png" alt="">
            <img id= "prox_car2" src="assets/bugati.png" alt="">

            <button id="right"><img src="assets/right_arrow.png" alt=""></button>
            
        </div>
        <hr>
        
<div class="classificaçoes">

  <div class="title">      
    <h1>Fabricados na Década Passada</h1>
    <button id="slide"><img src="assets/right_arrow.png" alt=""></button>
  </div>  
        <div class="decada_passada">
        
            <div class="card1">
                <span>Fiat Uno</span>
                <img src="assets/Uno.png" alt="nada">
                <h3 id="marca">Marca: Fiat</h3>
                <h3 id="2010">Ano: 2010</h3>
                <h3 id="preco">Preço: R$ 20 mil</h3>
                
            </div>

            <div class="card2">
                <span>Bugati</span>
                <img src="assets/bugati.png" alt="">
                <h3 id="marca">Marca: Volkswagen</h3>
                <h3 id="2010">Ano: 2020</h3>
                <h3 id="preco">Preço: R$ 72,5 milhões</h3>
                
            </div>

            <div class="card3">
                <span>Onix</span>
                <img src="assets/onix.png" alt="nada">
                <h3 id="marca">Marca: Chevrolet</h3>
                <h3 id="2010">Ano: 2010</h3>
                <h3 id="preco">Preço: R$ 57 mil</h3>
                
            </div>

            <div class="card4">
                <span>EM BREVE</span>
                <img src="assets/gol.png" alt="">
                <h3 id="marca">Marca: ??? </h3>
                <h3 id="2010">Ano: ???</h3>
                <h3 id="preco">Preço: R$ ???</h3>
            
            </div>

            <div class="card5">
                <span>EM BREVE</span>
                <img src="assets/gol.png" alt="">
                <h3 id="marca">Marca: ??? </h3>
                <h3 id="2010">Ano: ???</h3>
                <h3 id="preco">Preço: R$ ???</h3>
        
            </div>

        </div>
        

      <div class="title">  
        <h1>Carros Flex</h1>
        <button id="slide"><img src="assets/right_arrow.png" alt=""></button>
      </div>
        <div class="flex">
        
            <div class="card1">
                <span>Fiat Uno</span>
                <img src="assets/Uno.png" alt="nada">
                <h3 id="marca">Marca: Fiat</h3>
                <h3 id="2010">Ano: 2010</h3>
                <h3 id="preco">Preço: R$ 20 mil</h3>
                
            </div>

            <div class="card2">
                <span>Bugati</span>
                <img src="assets/bugati.png" alt="">
                <h3 id="marca">Marca: Chevrolet </h3>
                <h3 id="2010">Ano: 2020</h3>
                <h3 id="preco">Preço: R$ 72,5 milhões</h3>
                
            </div>

            <div class="card3">
                <span>Onix</span>
                <img src="assets/onix.png" alt="nada">
                <h3 id="marca">Marca: Chevrolet</h3>
                <h3 id="2010">Ano: 2010</h3>
                <h3 id="preco">Preço: R$ 57 mil</h3>
                
            </div>

            <div class="card4">
                <span>Onix</span>
                <img src="assets/onix.png" alt="nada">
                <h3 id="marca">Marca: Chevrolet</h3>
                <h3 id="2010">Ano: 2010</h3>
                <h3 id="preco">Preço: R$ 57 mil </h3>
            
            </div>
        </div>
    
    </div>

</div>
<script src="scripts/main.js"></script>
</body>
</html>