<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="styles/style.css">
            <title>Estoque Carro</title>

            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link rel="shortcut icon" href="assets/universe_3.png" type="image/png" />
            <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

        </head>

    <body>
        <header>
            <div class="header">
            <a href="hystory.html"><img id="logo" src="assets/Frame_3.png" alt="OPS"></a>
            <span>Estoque | Universo Automobilístico</span>
            <button id="home"><a href="/">Home</a></button>
            </div>
            

        </header>
            <div class="cards">
                <div class="card1">
                    <span>Fiat Uno</span>
                    <img src="assets/Uno.png" alt="nada">
                    <h3 id="marca">Marca: Fiat</h3>
                    <h3 id="2010">Ano: 2010</h3>
                    <h3 id="preco">Preço: R$ 20 mil</h3>
                    
            </div>

            <div class="card2">
                    <span>Bugati</span>
                    <img src="assets/bugati.png" alt="">
                    <h3 id="marca">Marca: Volkswagen </h3>
                    <h3 id="2010">Ano: 2020</h3>
                    <h3 id="preco">Preço: R$ 72,5 milhões</h3>
                    
            </div>

            <div class="card3">
                    <span>Onix</span>
                    <img src="assets/onix.png" alt="nada">
                    <h3 id="marca">Marca: Chevrolet</h3>
                    <h3 id="2010">Ano: 2010</h3>
                    <h3 id="preco">Preço: R$ 57 mil</h3>
                    
            </div>

            <div class="card4">
                    <span>Civic</span>
                    <img src="assets/civic.png" alt="nada aqui">
                    <h3 id="marca">Marca: Honda</h3>
                    <h3 id="2010">Ano: 2020</h3>
                    <h3 id="preco">Preço: R$ 110 mil</h3>
                   
            </div>
            
        </div>
</body>
</html>
